*{
    margin: 0px;
}
.menu-container{
    display: flex;
    flex-direction: column;
    margin: 5px 0px 5px 0px;
}

.menu-item{
    background: rgba(255, 0, 0, 0.700);
    font-size: 20px;
    color: white;
    cursor: pointer;
    border: 0px;
}
.image{
    margin-top: 8px;
    margin-left: 8px;
}
nav button:hover{
    font-weight: bold;
}

@media (min-width: 654px)
{
    .menu-container{
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
    }
    .menu-item{
        width: 30%;
    }
}